* {
  border:0px solid pink;margin:0;padding:0;list-style:none;text-decoration:none;
}
.bg {
  background: url(img/title201.jpg)no-repeat center  fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
#title0 {
  position:absolute;top:150px;left:150px;
  display:grid;
  grid-template-columns: 213px 1fr;
  align-items: end;
  }
h1 {
  margin: 0;
  font: 50px "Century Gothic",verdana,Arial,serif;
  font-weight: bold;
}
#title0 p {
  width: 353px;
  margin: 0;
  padding-left: 10px;
  font: 40px "Century Gothic",verdana,Arial,serif;
}
.text {
  position:absolute;top:215px;
  width: 576px;
  height: auto;
  margin: 0 0 0 150px;
}
#menu {
  position:relative;top:580px;
  opacity:0.7;filter:alpha(opacity=70);
}
#menu div {
  display: grid;
  grid-template-columns: 150px 1fr;
}
.select {
  font:17px "맑은고딕" ;
  font-style: italic;
  background-color: #000;
  /* width: 100px; */
  color: white;
  text-align: center;
  align-items: center;
}
.menulist {
  /* position:relative;margin: 0; */
  background-color: #696969;
  border-left: 6px solid red;
  /* width: 200%; */
  padding:7px 0 7px 8px;
  font: 12px Arial;
  text-align: left;
  /* background-color: #000; */
}
.menulist a {
  font-style: italic;
  color: #fff;
}
div {
  display:block;
}
